<div class="login-component">
  <div class="login-container">
    <div class="login-title">
      <img src="assets/images/logo.svg" alt="Logo"/>
      <span>Welcome to MoodFeed</span>
    </div>
    <div class="login-method-container">
      <div class="login-method" (click)="login()">
        <img src="assets/images/google-logo.svg" alt="Google"/>
        <span>Sign in with Google</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/facebook-logo.svg" alt="Facebook"/>
        <span>Sign in with Facebook</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/twitter-logo.svg" alt="Twitter"/>
        <span>Sign in with Twitter</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/apple-logo.svg" alt="Apple"/>
        <span>Sign in with Apple</span>
      </div>
    </div>
  </div>
</div>

