<div class="login-component">
  <!--<div class="login-image">
    <img src="assets/images/login.svg"/>
  </div>-->
  <div class="login-container">
    <div class="login-title">
      <img src="assets/images/logo.svg"/>
      <span>Welcome to MoodFeed</span>
    </div>
    <div class="login-method-container">
      <div class="login-method" (click)="login()">
        <img src="assets/images/google-logo.svg"/>
        <span>Sign in with Google</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/facebook-logo.svg"/>
        <span>Sign in with Facebook</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/twitter-logo.svg"/>
        <span>Sign in with Twitter</span>
      </div>
      <div class="login-method" (click)="login()">
        <img src="assets/images/apple-logo.svg"/>
        <span>Sign in with Apple</span>
      </div>
    </div>
  </div>
</div>

