image:
  repository: "{{ requiredEnv "DOCKER_REGISTRY" }}/{{ requiredEnv "DOCKER_REGISTRY_ORG" }}/{{ requiredEnv "APP_NAME" }}"
  tag: "{{ requiredEnv "VERSION" }}"

env:
  "SPRING_PROFILES_ACTIVE": "preview"

envFrom:
  - secretRef:
      name: mysql
      optional: false
